{% extends "layout.html" %}
{% set active_page = "map" %}
{% block body %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
<script>
    var entities = {};
    var entity, image, image_high_zoom;
    var exclude_entities = [];

    {% for entity, rows in data.iteritems() %}
        entities["{{entity}}"] = []
        entity = "{{entity}}";
        {% for item in rows %}
            {% if entity == "work" %}
                image = "{{ url_for('static', filename='icons/map/work32.png') }}"
                image_high_zoom = ''
            {% elif entity == "science" %}
                image = "{{ url_for('static', filename='icons/map/science32.png') }}"
                image_high_zoom = ''
            {% elif entity == "study" %}
                {% if item.master_count|int > 0 %}
                   image = "{{ url_for('static', filename='icons/map/study/bm32.png') }}"
                   entity = "master";
                {% else %}
                   image = "{{ url_for('static', filename='icons/map/study/b32.png') }}"
                   entity = "bachelor";
                {% endif %}
                image_high_zoom = "{{ url_for('static', filename='icons/map/study/bm32_' + item.master_label + '.png') }}"
            {% endif %}

            entities["{{entity}}"].push({
                "entity": entity,
                "lat": {{ item.lat }},
                "long": {{ item.long }},
                "description": '{{ item.description|safe|replace("\n", "\\n") }}',
                "image": image,
                "image_high_zoom": image_high_zoom
            })
        {% endfor %}
    {% endfor %}

    function init(center, zoom) {
        if (typeof center == "undefined" || center instanceof Event) {
            var center = new google.maps.LatLng(
                    48.23, 31.11
            )
        }

        if (typeof zoom == "undefined") {
            var zoom = 6;
        }

        var markers = [];
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: center,
            zoom: zoom,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(mapCanvas, mapOptions)

        for (var entity in entities) {
            if (entities.hasOwnProperty(entity)) {
                var items = entities[entity]

                for (var i = 0; i < items.length; i++) {
                    if (exclude_entities.indexOf(items[i].entity) >= 0) {
                        continue;
                    }

                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(items[i].lat, items[i].long),
                        map: map,
                        icon: items[i].image,
                        description: items[i].description
                    });

                    google.maps.event.addListener(marker, 'click', function() {
                        new google.maps.InfoWindow({
                            content: this.description
                        }).open(map, this);
                    });

                    items[i]['marker'] = marker;
                    markers.push(marker)
                }
            }
        }

        google.maps.event.addListener(map, 'zoom_changed', function() {
            for (var entity in entities) {
                if (entities.hasOwnProperty(entity)) {
                    var items = entities[entity]
                    for (var i = 0; i < items.length; i++) {
                        if (!items[i].image_high_zoom) {
                            continue;
                        }
                        if (map.getZoom() >= 15) {
                            items[i]['marker'].setIcon(items[i]['image_high_zoom']);
                        } else {
                            items[i]['marker'].setIcon(items[i]['image']);
                        }
                    }
                }
            }
        });

        var markerCluster = new MarkerClusterer(map, markers);
    }

    google.maps.event.addDomListener(window, 'load', init);





    $($('input:checkbox').get(0)).is(':checked')

    $(document).ready(function () {
        $('input:checkbox').change(function() {
            var value = $(this).val();
            var index = exclude_entities.indexOf(value);

            if (index >= 0) {
                delete exclude_entities[index];
            } else {
                exclude_entities.push(value)
            }

            init(map.getCenter(), map.getZoom());
        });


        $('#toggle').click(function () {
            if ($('#sidebar').hasClass('open')) {
                $('#sidebar').removeClass('col-md-2');
                $('#sidebar').removeClass('open');
                $('#sidebar').addClass('hidden');
                $('#content').addClass('col-md-12');
                $('#content').removeClass('col-md-10');
                google.maps.event.trigger(map, "resize");
            }
            else {
                $('#sidebar').addClass('col-md-2');
                $('#sidebar').addClass('open');
                $('#sidebar').removeClass('hidden');
                $('#content').removeClass('col-md-12');
                $('#content').addClass('col-md-10');
                google.maps.event.trigger(map, "resize");
            }
        });
    });



</script>
<div class="row">
    <div id="content" class="col-md-10">
        <div id="map-canvas"></div>
    </div>
    <div id="sidebar" class="col-md-2 open">
        <div class="checkbox">
            <label><input checked="checked" type="checkbox" value="bachelor"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/b32.png') }}" /><span>Бакалаврат</span></label>
        </div>
        <div class="checkbox">
            <label><input checked="checked" type="checkbox" value="master"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/bm32.png') }}" /><span>Магістратура</span></label>
        </div>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/1.png') }}" /><span>Геодезія</span></p>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/2.png') }}" /><span>Картографія</span></p>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/3.png') }}" /><span>Землеустрій і кадастр</span></p>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/4.png') }}" /><span>Оцінка землі та нерухомого майна</span></p>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/5.png') }}" /><span>Геоінформаційні системи та технології</span></p>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/6.png') }}" /><span>Фотограмметрія та ДЗЗ</span></p>
        <p class="text-muted mdesc"><img class="legend-image" src="{{ url_for('static', filename='icons/map/study/master/7.png') }}" /><span>Космічний моніторинг Землі</span></p>
        <div class="checkbox">
            <label><input checked="checked" type="checkbox" value="work"><img class="legend-image" src="{{ url_for('static', filename='icons/map/work32.png') }}" /><span>Компанії, організації та підприемства</span></label>
        </div>
        <div class="checkbox">
            <label><input checked="checked" type="checkbox" value="science"><img class="legend-image" src="{{ url_for('static', filename='icons/map/science32.png') }}" /><span>Науково-виробничі установи</span></label>
        </div>
    </div>
</div>

{% endblock %}